.header{
  margin-left: calc(50% - 48vw);
  margin-right: calc(50% - 48vw);
  background-color: rgba(49, 69, 66, 0.518);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  border-radius: 5px;
}

h2{
  text-align: right;
  padding: 5px;
}

input{
  padding: 5px;
  margin-top: 10px;;
  margin-bottom: 10px;
  margin-right: 10px;
}

button{
  float: right;
  padding: 5px;
  margin-top: 10px;;
  margin-bottom: 10px;
  margin-right: 10px;
}