.login{
  text-align: center;
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  border-radius: 5px;
}

h1{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 5px;;
  margin-bottom: 5px;
}

input{
  padding: 2px;
  margin-top: 5px;;
  margin-bottom: 10px;
  margin-right: 10px;
}

button{
  float: right;
  padding: 2px;
  margin-top: 5px;;
  margin-bottom: 10px;
  margin-right: 10px;
}
